{% extends "base.html" %}

{% block title %}Create Character – Influence RPG{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{{ url_for('static', path=asset_path('character_create.css')) }}">
{% endblock %}

{% block content %}
	<div class="char-create-container">
	  <h2>Create New Character</h2>
	 <div id="wizard-root" data-username="{{username}}"></div>
	</div>
{% endblock %}

{% block scripts %}
  <script type="module" src="{{ url_for('static', path=asset_path('character_wizard.jsx')) }}"></script>
{% endblock %}
