{% extends "base.html" %}

{% block css %}
  <link rel="stylesheet" href="{{ url_for('static', path=asset_path('login.css')) }}">
{% endblock %}

{% block title %}Login - Influence RPG{% endblock %}

{% block content %}
  <div class="container">
    <div class="login-container">
      <h2>Login</h2>
      <form id="login-form">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" />

        <label for="password">Password</label>
        <input type="password" id="password" name="password" />

        <button id="login-button">Login</button>
        <p id="login-error" class="error"></p>
        <p><a href="/create-account">Create an account</a></p>
      </form>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script type="module" src="{{ url_for('static', path=asset_path('login.js')) }}"></script>
{% endblock %}